{% extends "base.html" %}
{% block extra_head_content  %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}
{% block js %}
<script src="../../../static/js/Chart.js"></script> 
<script src="../../../static/js/Colors.js"></script> 
{% endblock %}

{% block title_h1 %} Accueil {% endblock %}
{% block principal_section %}
<article>
<h3> Dépense des 12 derniers mois </h3>
<div class="width_all">
	<canvas id="linechart" height="200" width=600"></canvas>
	<canvas id="barchart" height="200" width=600"></canvas>
</div>
</article>

<script>
(function(){
	// Definition couleurs
	var $id = function(id){
		return document.getElementById(id);
	    };

	// paramètre graphique en ligne
	var lineData = {
	labels : [ "{{triples.0.month_word}} {{triples.0.year}}",
               "{{triples.1.month_word}} {{triples.1.year}}",
               "{{triples.2.month_word}} {{triples.2.year}}",
               "{{triples.3.month_word}} {{triples.3.year}}",
               "{{triples.4.month_word}} {{triples.4.year}}",
               "{{triples.5.month_word}} {{triples.5.year}}",
               "{{triples.6.month_word}} {{triples.6.year}}",
               "{{triples.7.month_word}} {{triples.7.year}}",
               "{{triples.8.month_word}} {{triples.8.year}}",
               "{{triples.9.month_word}} {{triples.9.year}}",
               "{{triples.10.month_word}} {{triples.10.year}}",
               "{{triples.11.month_word}} {{triples.11.year}}", ],

	datasets : [
		{% for cat, vals in total_by_month.items %}
		{% if cat.name == "Gain" or cat.name == "Total" %}
		{
		    label: "{{ cat.name }}",
		    fillColor: "{{ cat.metadata.colors.verylight }}",
		    strokeColor: "{{ cat.metadata.colors.light }}",
		    pointColor: "{{ cat.metadata.colors.normal }}",
		    pointStrokeColor: "#fff",
		    pointHighlightFill: "#fff",
		    pointHighlightStroke: "rgba(220,220,220,1)",
		    data: {{ vals }},
		},
		{% endif %}
		{% endfor %}
	]
};

        lineOptions = { 
		responsive: true, scaleShowGridLines : true,
		multiTooltipTemplate: "<%= value %> €",
        };

	var ctx1 = document.getElementById("linechart").getContext("2d");
	myLine = new Chart(ctx1).Line(lineData, lineOptions)

	// paramètre graphique en bar
	var barData = {
	labels : [ "{{triples.0.month_word}} {{triples.0.year}}",
               "{{triples.1.month_word}} {{triples.1.year}}",
               "{{triples.2.month_word}} {{triples.2.year}}",
               "{{triples.3.month_word}} {{triples.3.year}}",
               "{{triples.4.month_word}} {{triples.4.year}}",
               "{{triples.5.month_word}} {{triples.5.year}}",
               "{{triples.6.month_word}} {{triples.6.year}}",
               "{{triples.7.month_word}} {{triples.7.year}}",
               "{{triples.8.month_word}} {{triples.8.year}}",
               "{{triples.9.month_word}} {{triples.9.year}}",
               "{{triples.10.month_word}} {{triples.10.year}}",
               "{{triples.11.month_word}} {{triples.11.year}}" ],
	datasets : [
    {% for cat, vals in total_by_month.items %}
    {% if cat.name != "Gain" and cat.name != "Total" %}
    {
        label           : "{{ cat.name }}",
        fillColor       : "{{ cat.metadata.colors.light }}",
	strokeColor     : "{{ cat.metadata.colors.light }}",
	highlightFill   : "{{ cat.metadata.colors.light }}",
	highlightStroke : "{{ cat.metadata.colors.light }}",
        data            : {{ vals }}
    },
    {% endif %}
    {% endfor %}
	]
};

        barOptions = { 
		responsive: true, scaleShowGridLines : true,
		multiTooltipTemplate: "<%= value %> €",
        };

	var elm2 = document.getElementById("barchart")
	var ctx2 = elm2.getContext("2d");
	myBar = new Chart(ctx2).Bar(barData, barOptions);

	function getDateFromString(label){
		d = new Date(Date.parse(label))
		var month = ("0" + (d.getMonth()+1).toString()).slice(-2)
		var year = d.getFullYear().toString()
		return year + "/" + month
	};

	elm2.onclick = function(evt){
		var activeBars = myBar.getBarsAtEvent(evt);
		console.log(activeBars)
		// => activeBars is an array of bars on the canvas that are at the same position as the click event.
		window.location = "/" + getDateFromString(activeBars[0].label);
	};

})();


</script>
{% endblock %}
