{% extends "base.html" %}
{% block extra_head_content  %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}
{% block js %}
<script src="../../../static/js/Chart.js"></script> 
<script src="../../../static/js/Colors.js"></script> 
{% endblock %}

{% block title_h1 %} Accueil {% endblock %}
{% block principal_section %}
<article>
<h3> Dépense des 12 derniers mois </h3>
<div class="width_all">
	<canvas id="linechart" height="200" width=600"></canvas>
	<canvas id="barchart" height="200" width=600"></canvas>
</div>
</article>

<script>
(function(){
	// Definition couleurs
	var $id = function(id){
		return document.getElementById(id);
	    };

	// paramètre graphique en ligne
	var lineData = {
	labels : ["{{triples.0.month_word}} {{triples.0.year}}", "{{triples.1.month_word}} {{triples.1.year}}", "{{triples.2.month_word}} {{triples.2.year}}", "{{triples.3.month_word}} {{triples.3.year}}", "{{triples.4.month_word}} {{triples.4.year}}", "{{triples.5.month_word}} {{triples.5.year}}", "{{triples.6.month_word}} {{triples.6.year}}", "{{triples.7.month_word}} {{triples.7.year}}", "{{triples.8.month_word}} {{triples.8.year}}", "{{triples.9.month_word}} {{triples.9.year}}", "{{triples.10.month_word}} {{triples.10.year}}", "{{triples.11.month_word}} {{triples.11.year}}"],
	datasets : [
		{
		label: "Gain",
		fillColor: veryLightColors["gain"],
		strokeColor: lightColors["gain"],
		pointColor: colors["gain"],
		pointStrokeColor: "#fff",
		pointHighlightFill: "#fff",
		pointHighlightStroke: "rgba(220,220,220,1)",
		data: [{{total_by_month.gain.0}}, {{total_by_month.gain.1}}, {{total_by_month.gain.2}}, {{total_by_month.gain.3}}, {{total_by_month.gain.4}}, {{total_by_month.gain.5}}, {{total_by_month.gain.6}}, {{total_by_month.gain.7}}, {{total_by_month.gain.8}}, {{total_by_month.gain.9}}, {{total_by_month.gain.10}}, {{total_by_month.gain.11}}]
		},
		{
		label: "Depense",
		fillColor: veryLightColors["all"],
		strokeColor: lightColors["all"],
		pointColor: colors["all"],
		pointStrokeColor: "#fff",
		pointHighlightFill: "#fff",
		pointHighlightStroke: "rgba(220,220,220,1)",
		data: [{{total_by_month.all.0}}, {{total_by_month.all.1}}, {{total_by_month.all.2}}, {{total_by_month.all.3}}, {{total_by_month.all.4}}, {{total_by_month.all.5}}, {{total_by_month.all.6}}, {{total_by_month.all.7}}, {{total_by_month.all.8}}, {{total_by_month.all.9}}, {{total_by_month.all.10}}, {{total_by_month.all.11}}]
		}
	]
};

	var ctx1 = document.getElementById("linechart").getContext("2d");
	myLine = new Chart(ctx1).Line(lineData, {
			responsive: true, scaleShowGridLines : true
	})

	// paramètre graphique en bar
	var barData = {
	labels : ["{{triples.0.month_word}} {{triples.0.year}}", "{{triples.1.month_word}} {{triples.1.year}}", "{{triples.2.month_word}} {{triples.2.year}}", "{{triples.3.month_word}} {{triples.3.year}}", "{{triples.4.month_word}} {{triples.4.year}}", "{{triples.5.month_word}} {{triples.5.year}}", "{{triples.6.month_word}} {{triples.6.year}}", "{{triples.7.month_word}} {{triples.7.year}}", "{{triples.8.month_word}} {{triples.8.year}}", "{{triples.9.month_word}} {{triples.9.year}}", "{{triples.10.month_word}} {{triples.10.year}}", "{{triples.11.month_word}} {{triples.11.year}}"],
	datasets : [
		{
		label: "Necessaire",
		fillColor: colors["necessaire"],
		strokeColor: lightColors["necessaire"],
		highlightFill: lightColors["necessaire"],
		highlightStroke: veryLightColors["necessaire"],
		data: [{{total_by_month.necessaire.0}}, {{total_by_month.necessaire.1}}, {{total_by_month.necessaire.2}}, {{total_by_month.necessaire.3}}, {{total_by_month.necessaire.4}}, {{total_by_month.necessaire.5}}, {{total_by_month.necessaire.6}}, {{total_by_month.necessaire.7}}, {{total_by_month.necessaire.8}}, {{total_by_month.necessaire.9}}, {{total_by_month.necessaire.10}}, {{total_by_month.necessaire.11}}]
		},
		{
		label: "Achat",
		fillColor: colors["achat"],
		strokeColor: lightColors["achat"],
		highlightFill: lightColors["achat"],
		highlightStroke: colors["achat"],
		data: [{{total_by_month.achat.0}}, {{total_by_month.achat.1}}, {{total_by_month.achat.2}}, {{total_by_month.achat.3}}, {{total_by_month.achat.4}}, {{total_by_month.achat.5}}, {{total_by_month.achat.6}}, {{total_by_month.achat.7}}, {{total_by_month.achat.8}}, {{total_by_month.achat.9}}, {{total_by_month.achat.10}}, {{total_by_month.achat.11}}]
		},
		{
		label: "Sortie",
		fillColor: colors["sortie"],
		strokeColor: lightColors["sortie"],
		highlightFill: lightColors["sortie"],
		highlightStroke: veryLightColors["sortie"],
		data: [{{total_by_month.sortie.0}}, {{total_by_month.sortie.1}}, {{total_by_month.sortie.2}}, {{total_by_month.sortie.3}}, {{total_by_month.sortie.4}}, {{total_by_month.sortie.5}}, {{total_by_month.sortie.6}}, {{total_by_month.sortie.7}}, {{total_by_month.sortie.8}}, {{total_by_month.sortie.9}}, {{total_by_month.sortie.10}}, {{total_by_month.sortie.11}}]
		},
		{
		label: "Vacances",
		fillColor: colors["vacances"],
		strokeColor: lightColors["vacances"],
		highlightFill: lightColors["vacances"],
		highlightStroke: veryLightColors["vacances"],
		data: [{{total_by_month.vacances.0}}, {{total_by_month.vacances.1}}, {{total_by_month.vacances.2}}, {{total_by_month.vacances.3}}, {{total_by_month.vacances.4}}, {{total_by_month.vacances.5}}, {{total_by_month.vacances.6}}, {{total_by_month.vacances.7}}, {{total_by_month.vacances.8}}, {{total_by_month.vacances.9}}, {{total_by_month.vacances.10}}, {{total_by_month.vacances.11}}]
		},
		{
		label: "Autre",
		fillColor: colors["autre"],
		strokeColor: lightColors["autre"],
		highlightFill: lightColors["autre"],
		highlightStroke: veryLightColors["autre"],
		data: [{{total_by_month.autre.0}}, {{total_by_month.autre.1}}, {{total_by_month.autre.2}}, {{total_by_month.autre.3}}, {{total_by_month.autre.4}}, {{total_by_month.autre.5}}, {{total_by_month.autre.6}}, {{total_by_month.autre.7}}, {{total_by_month.autre.8}}, {{total_by_month.autre.9}}, {{total_by_month.autre.10}}, {{total_by_month.autre.11}}]
		}
	]
};

	var elm2 = document.getElementById("barchart")
	var ctx2 = elm2.getContext("2d");
	myBar = new Chart(ctx2).Bar(barData, {
			responsive: true, scaleShowGridLines : true, legendTemplate : '<ul>'
			+'<% for (var i=0; i<datasets.length;i++) {%>'
			+'<li>'
			+'<span style=\"background-color:<%=datasets[i].barColor%>\"></span>'
			+'<% if (datasets[i].label) {%> <%= datasets[i].label %><% } %>'
			+'</li>'
			+'<%} %>'
			+'</ul>'
	});

	function getDateFromString(label){
		d = new Date(Date.parse(label))
		var month = ("0" + (d.getMonth()+1).toString()).slice(-2)
		var year = d.getFullYear().toString()
		return year + "/" + month
	};

	elm2.onclick = function(evt){
		var activeBars = myBar.getBarsAtEvent(evt);
		console.log(activeBars)
		// => activeBars is an array of bars on the canvas that are at the same position as the click event.
		window.location = "/" + getDateFromString(activeBars[0].label);
	};

})();


</script>
{% endblock %}
