{% extends "base.html" %}

{% block extra_head_content  %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}

{% block title_h1 %} {{ month_word }} {{ year }} {% endblock %}
{% block principal_section %}

<form method="post" id="modify">
	{% csrf_token %}
	{{ formset.management_form }}
	<table class="month">
	<!-- Table Header -->
	<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th>Catégorie</th>
			<th>Dépense</th>
			<th>/2</th>
			<th>Banque</th>
			<th>Check</th>
			<th>Commentaire</th>
			{% if formset.errors %}			
			<th>Erreur sur les champs</th>
			{% endif %}
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>
		{% for f in formset %}
			<tr><td> {{ f.date }} </td>
			<td> {{ f.description }} </td>
			<td> {{ f.category }} </td>
			<td> {{ f.expense }} </td>
			<td> {{ f.halve }} </td>
			<td> {{ f.bank }} </td>
			<td> {{ f.check }} </td>
			<td> {{ f.comment }} </td>
			{% if formset.errors %}			
			<td> {% for error in f.errors %} <div>{{error}}</div> {% endfor %}</td>
			{% endif %}
			</tr>
		{% endfor %}
	</tbody> 
	<!-- Table Body -->

	</table> 
	<input class="submit" type="submit" value="Valider" />
</form>
{% endblock %}
