{% extends "base.html" %}
{% block extra_head_content  %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}
{% block title_h1 %} {{ month_word }} {{ year }} {% endblock %}
{% block principal_section %}

<h2> Détails du mois </h2>
<table>
	<!-- Table Header -->
	<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th>Catégorie</th>
			<th>Dépense</th>
			<th>Check</th>
			{% if comment == True %} <th>Commentaire</th> {% endif %}
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>
	{% for a in account_objects %}
       	{% for cat, exp in first_level_categories.items %}
	{% if cat.name in a.category %}
            		<tr style="color: {{ cat.metadata.colors.normal }}">
			<td> {{ a.category }} {{ cat.name }} </td>
			<td> {{ a.date }} </td>
			<td> {{ a.description }} </td>
			<td> {{ a.category | title }} </td>
			<td> {{ a.expense }} </td>
			<td> {% if a.check == True %} &#x2714; {% else %} &#x2718; {% endif %} </td>
			{% if comment == True %} <td> {{ a.comment }} </td> {% endif %}
		</tr>
	{% endif %}
	{% endfor %}
    {% empty %}
        <tr>
            <td colspan="5">
                Aucune transaction à afficher. Faites chauffer la carte bleue !
                ;)
            </td>
        </tr>
	{% endfor %}
	</tbody> 
	<!-- Table Body -->
</table> 

<h2> Total des dépenses </h2>
<table class="totaux">
	<!-- Table Body -->
	<tbody>
		<tr>
            	{% for cat in first_level_categories %}
		{% if cat != "Total" and cat != "Gain" %}
            		<td>{{ cat }}</td>
            	{% endif %}
            	{% endfor %}
			<td>Total</td>
		</tr>
		<tr>
            	{% for cat, exp in first_level_categories.items %}
		{% if cat != "Total" and cat != "Gain" %}
            		<td style="color: {{ cat.metadata.colors.normal }}">{{ exp }}</td>
            	{% endif %}
            	{% endfor %}
            	{% for cat, exp in first_level_categories.items %}
		{% if cat == "Gain" %}
            		<td style="color: {{ cat.metadata.colors.normal }}">{{ exp }}</td>
            	{% endif %}
            	{% endfor %}
            	{% for cat, exp in first_level_categories.items %}
		{% if cat == "Total" %}
            		<td style="color: {{ cat.metadata.colors.normal }}">{{ exp }}</td>
            	{% endif %}
            	{% endfor %}
		</tr>

	</tbody>
	<!-- Table Body -->
</table> 

{% endblock %}
