{% extends "base.html" %}

{% block extra_head_content  %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}

{% block title_h1 %} Recherche {% endblock %}
{% block principal_section %}

<form method="post" class="search">
	{% csrf_token %}
	<div>
		{{ form }} 
		<input id="submit" name="validate" type="submit" value="Valider" />
	</div>
	{% if account_objects %}
	<div>
		<input id="submit" name="modify" type="submit" value="Modifier" />
	</div>
	{% endif %}
</form>


{% if nb_account == 0 %}
<h4 style="text-align:center;"> Aucun résultat trouvé. </h4>
{% else %}
{% if account_objects %}
<h4> {{ nb_account }} résultats obtenus : </h4>
<form method="post" class="search">
	{% csrf_token %}
</form>
{% include "table.html" %}
{% endif %}
{% endif %}

{% endblock %}
