{% extends "base.html" %}

{% block extra_head_content  %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" />
{% endblock %}

{% block title_h1 %} Recherche {% endblock %}
{% block principal_section %}

<form method="post" class="search">
	{% csrf_token %}
	<div>
		{{ form }} 
		<input id="submit" type="submit" value="Valider" />
	</div>
</form>

{% if account_objects %}
<h4> {{ nb_account }} résultats obtenus : </h4>
{% include "table.html" %}
{% endif %}

{% endblock %}
